.machine-container {
    display: flex;
    flex-direction: column;
}

.timer-container{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    0%{
        opacity: 0;
    }
    25%{
        color: red;
    }
    100%{
        color: red;
    }
  }
.timer-container .timer-header {
    font-size: 20px;
    font-weight: bold;
}

.timer-container .timer-value {
    font-size: 18px;
}

@media screen and (max-width: 299px) {  

    .timer-container .timer-header {
        font-size: 10px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 12px;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {  
    .timer-container .timer-header {
        font-size: 12px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {  
    .timer-container .timer-header {
        font-size: 15px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 18px;
    }
}

@media screen and (min-width:801px) and (max-width: 1000px) {  
    .timer-container .timer-header {
        font-size: 15px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 20px;
    }
}


@media screen and (min-width:1001px) and (max-width: 1600px){  
    .timer-container .timer-header {
        font-size: 18px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 23px;
    }
}

@media screen and (min-width: 1601px){
    .timer-container .timer-header {
        font-size: 30px;
        font-weight: bold;
    }
    
    .timer-container .timer-value {
        font-size: 35px;
    }
}
